NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_USE_MOCKS=true
NEXT_PUBLIC_USE_MOCK_AUTH=false
NEXT_PUBLIC_CLOUDFRONT_BASE_URL=https://your-cloudfront-domain.cloudfront.net
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_ADMIN_EMAILS=admin@example.com

AWS_REGION=ap-south-1
VIDEOS_TABLE_NAME=streamflow-videos
UPLOAD_BUCKET_NAME=streamflow-video-uploads
CLOUDFRONT_DOMAIN=https://your-cloudfront-domain.cloudfront.net
ALLOW_PUBLIC_STREAMING=true
GEMINI_API_KEY=AIzaSyBgBTgS9-qIJZHPV1vXxCQrALaxybeVqsk
GEMINI_MODEL=gemini-2.5-flash
